
.body{
    background-color: #FFF6E9;
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/Ubuntu.zip) format('ZIP');
  }

  .ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  .ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
  }

  .ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

.bg-nav{

    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
}
.big-font
{
font-size: 62px;
}
.bg-1
{
    background-image: url('../img/file_2024-02-28_00.39.19.png');
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
}
.bg-2
{
    background-image: url('../img/ravel-elements.jpg');
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
}
.bg-3
{
    background-image: url('../img/two-athletic-man-floats-red-boat-river.jpg');
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
}
.homeLayer{

    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;


}
.layerContent{

    color: white;
    text-align: center;
    width: 100%;
    height: 50%;
    display: flex;



}

/* --------------------------for about------------------------------- */
.fw-300
{
    font-weight: 300;
    font-size: 22px;
    margin: auto;
}
.img-con
{
    max-height: 300px;
}
.text-bg-c {
color: #fff !important;
background-color: #3C81C3;
}
.color1{ color: #3C81C3;}
.c{
    font-weight: 700;
}
.c::before
{
    content:  'c';
    font-size: 80px;
    position: absolute;


    transform: translate(84px,-50px);

    opacity: 10%;

}
.fs-13px
{
    font-size: 10px;
}
.typingClass::after{
    content: "";
    color: #EF7742;
    animation-name: typingSkill;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes typingSkill{

    0%{ content: "|"; }

    4%{ content: "a|"; }
    8%{ content: "ap|"; }
    12%{ content: "app|"; }
    16%{ content: "apps|"; }
    020%{ content: "|"; }
    24%{ content: "w|"; }
    28%{ content: "we|"; }
    32%{ content: "web|"; }
    36%{ content: "webs|"; }
    40%{ content: "websi|"; }
    44%{ content: "websit|"; }
    48%{ content: "website|"; }
    52%{ content: "websites|"; }
    56%{ content: "|"; }
    60%{ content: "s|"; }
    64%{ content: "so|"; }
    68%{ content: "sof|"; }
    72%{ content: "soft|"; }
    76%{ content: "softw|"; }
    80%{ content: "softwa|"; }
    84%{ content: "softwar|"; }
    88%{ content: "software|"; }
    92%{ content: "softwares|"; }
    100%{  }

}
.team1
{

    position: relative;
}
.team1 img
{
    width: 100%;
}
.team-content1
{
    color: white;
    width: 100%;
    height: 100%;
    background-color:rgba(60, 129, 195,0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition:opacity 1s;

}
.team1:hover .team-content1
{
    opacity: 1;
}





.headline {

    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0;
}

.card {
    margin: 20px 0;
}

.label {
    font-weight: bold;
}

.form-control {
    margin-bottom: 10px;
}

.signbtn {
    width: 100%;
}

.signupform {
    max-width: 500px;
    padding: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.signupdad {

    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Page {
    align-items: center;
    justify-content: center;
}

.headsi {
    text-align: center;

    border-radius: 5px;
    padding: 10px 0;
}

.headsi .h1 {
    font-size: 16px;

}

.jjj {
    height: 450px;
}

.ggg {
    padding: 20px 0;
}

.ggg .txt {

    padding-bottom: 10px;
}

.hhh {
    padding: 40px 0;
}

.footer {
    background-color: #80C4E9;
    color: #ffffff;
    padding: 40px 0;
    width: 100%;

}

.footer h4 {
    color: #f8f9fa;
}

.footer a {
    color: #f8f9fa;
    text-decoration: none;
}


.footer a:hover {
    color: #007bff;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.recom {
    padding: 30px 0;
    text-align: center;

}

.recom .recom2 {
    padding: 50px 80px;
    font-size: 25px;
    background-color: red;
}

.ink {
    display: flex;
    flex-wrap: wrap;
}

.ink .imgtest {
    width: 20%;
}
.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: black;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}
.nav-underline .nav-link.active, .nav-underline .show>.nav-link {
    font-weight: 700;
    color: #80C4E9;
    border-bottom-color: currentcolor;
}
/*----------------------------plans---------------------------------*/
.plan {
    border-radius: 16px;
    box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
    padding: 10px;
    background-color: #fff;
    color: #697e91;
    max-width: 300px;
  }

  .plan strong {
    font-weight: 600;
    color: #425275;
  }

  .plan .inner {
    align-items: center;
    padding: 20px;
    padding-top: 40px;
    background-color: #ecf0ff;
    border-radius: 12px;
    position: relative;
  }

  .plan .pricing {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #bed6fb;
    border-radius: 99em 0 0 99em;
    display: flex;
    align-items: center;
    padding: 0.625em 0.75em;
    font-size: 1.25rem;
    font-weight: 600;
    color: #425475;
  }

  .plan .pricing small {
    color: #707a91;
    font-size: 0.75em;
    margin-left: 0.25em;
  }

  .plan .title {
    font-weight: 600;
    font-size: 1.25rem;
    color: #425675;
  }

  .plan .title + * {
    margin-top: 0.75rem;
  }

  .plan .info + * {
    margin-top: 1rem;
  }

  .plan .features {
    display: flex;
    flex-direction: column;
  }

  .plan .features li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .plan .features li + * {
    margin-top: 0.75rem;
  }

 /* .plan .features .icon {
    background-color: #1FCAC5;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }

  .plan .features .icon svg {
    width: 14px;
    height: 14px;
  }
*/
  .plan .features + * {
    margin-top: 1.25rem;
  }

  .plan .action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .plan .button {
    background-color: #6558d3;
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
    font-size: 1.125rem;
    text-align: center;
    border: 0;
    outline: 0;
    width: 100%;
    padding: 0.625em 0.75em;
    text-decoration: none;
  }

  .plan .button:hover, .plan .button:focus {
    background-color: #4133B7;
  }
/*---------------------------------------------------------*/

